@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&family=Indie+Flower&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
body::before{
    content: "";
    position: absolute;
    background: url('notebook.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    height: 100%;
    width: 100%;
    z-index: -1;
}
body{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
}